ul{
	font-size: 18px;
	margin: 0 auto;
}
ul.rollver li{
	text-align: left;
	float: left;
	list-style: none;
}
	ul.rollver a{
		display: block;
		text-decoration: none;
		pading: 3px 10px 3px 25px;
		margin: 5px;
}
ul.rollver a:hover{
	background:url(favicon.ico) 5px 5px no-repeat:
	text-decoration: none;
}